.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*---------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

h1, h2, p {
  margin: 0px;
  padding: 0px;
}

/*---------------------------------------------------*/
@media only screen and (max-width: 375px) {
  /* For Mobile (max 375px) */
  #wrapper {
    width: 375px;
    height: auto;
  }

  #desktop-image {
    display: none;
  }

  #content-box {
    width: 375px;
    height: auto;
    padding: 30px 0px 90px 0px;
  }

  #logo {
    width: auto;
    height: 25px;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  #mobile-image {
    float: left;
    width: 375px;
    height: 250px;
    margin-bottom: 65px;
  }

  #content-text h1, #content-text h2 {
    font-size: 42px;
    margin-bottom: 10px;
    text-align: center;
  }

  #content-text p {
    width: 315px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
  }

  .text-submit-box {
    width: 315px;
    margin-left: 30px;
  }

  .text-submit-box input[type=text] {
    width: 165px;
  }

  .text-submit-box button {
    width: 65px;
    height: 52px;
  }

  .text-submit-box #error-icon {
    right: 80px;
  }
}

@media only screen and (min-width: 376px) {
  /* For Desktop (min 376px) */
  #wrapper {
    width: 1440px;
    height: 800px;
  }

  #desktop-image {
    float: right;
    width: 610px;
    height: 800px;
  }

  #content-box {
    width: 500px;
    height: 670px;
    padding: 65px 165px;
  }

  #logo {
    margin-bottom: 135px;
  }

  #mobile-image {
    display: none;
  }

  #content-text h1, #content-text h2 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  #content-text p {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .text-submit-box {
    width: 450px;
  }

  .text-submit-box input[type=text] {
    width: 300px;
  }

  .text-submit-box button {
    width: 100px;
    height: 52px;
  }

  .text-submit-box #error-icon {
    right: 110px;
  }
}


#wrapper {
  margin: 0 auto;
}


/*---------------------------------------------------*/

#content-box {
  float: left;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#logo {
  float: left;
}

#content-box #content-text {
  float: left;
  width: 100%;
}

#content-text h1, #content-text h2 {
  display: inline-block;
  width: 100%;
}

#content-text h1 {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

#content-text h2 {
  color: hsl(0, 6%, 24%);
  font-weight: 600;
}

#content-text p {
  color: hsl(0, 36%, 70%);
  font-weight: 400;
  display: inline-block;
  float: left;
  line-height: 28px;
}

form.submit-email-form {
  float: left;
  width: 100%;
  height: auto;
}

.text-submit-box {
  float: left;
  position: relative;
}

.text-submit-box input[type=text] {
  padding: 20px 116px 20px 30px;
  border: 2px solid hsl(0, 36%, 70%);
  float: left;
  height: 12px;
  font-size: 18px;
  border-radius: 28px;
  background: transparent;
}

.text-submit-box input[type=text]:focus {
  outline: none;
  border: 2px solid hsl(0, 93%, 68%);
}

.text-submit-box ::placeholder {
  color: hsl(0, 36%, 70%);
}

.text-submit-box button {
  border-radius: 26px;
  background-color: hsl(0, 74%, 74%);
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 2px;
  top: 2px;
  outline: none;
  box-shadow: 0px 8px 25px 0px hsl(0, 74%, 74%);
}

.text-submit-box button:hover {
  background-color: hsl(0, 80%, 86%);
  box-shadow: 0px 8px 25px 0px hsl(0, 80%, 86%);
}

.text-submit-box #error-icon {
  height: 30px;
  width: 30px;
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 13px;
}

.text-submit-box #error-message {
  font-size: 14px;
  color: hsl(0, 93%, 68%);
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

.correct-email {
  display: none;
}

.error-email {
  display: block;
}

/*---------------------------------------------------*/


/*
### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

*/
